<% provide(:title, 'Explain Contract') %>
<h1>Explain Contract</h1>

<!--<div> Insert contract text: </div>-->
  <%= form_tag('/contracts/explained', :method => "post") do %>
      <div class="form-group">
        <label for="text">Insert contract text:</label>
        <textarea class="form-control" id="text" name="text">

        </textarea>
      </div>
    <button type="submit" id="explain" class="btn btn-primary">Explain</button>
  <% end %>
