


<!--
<div class="card" style="width: 18rem;">
  <img src="/house.png" class="card-img-top" />
  <div class="card-body">
    <h5 class="card-title">Loans</h5>
    <p class="card-text">Borrowing money.</p>

    <%= link_to '/contracts/new', class: "btn btn-primary stretched-link" do %>
        <h3>Loans</h3>
    <% end %>
  </div>
</div>

<div class="media position-relative">
  <img src="..." class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Media with stretched link</h5>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    <a href="#" class="stretched-link">Go somewhere</a>
  </div>
</div>
-->

<div>

    <div class="page-header"><h1> Select a type of contract </h1></div>
    <div class="row is-flex">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="box text-center thumbnail">
                <div class="box text-center caption contracttype">
                    <%= link_to '/contracts/new' do %>
                        <img src="/house.png"/>
                        <h3>Loans</h3>
                    <% end %>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="box text-center thumbnail">
                <div class="box text-center caption contracttype">
                    <%= link_to '/contracts/new' do %>
                        <img src="/house.png"/>
                        <h3>Sales</h3>
                    <% end %>
                </div>
            </div>

        </div>
    </div>

</div>
