<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>ContractIO</h1>

  <h2>
    Your one stop application for contracts
  </h2>

  <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
</div>
